.wrapper {
  font-family: "Montserrat Alternates", sans-serif;
}

.heroText {
  font-weight: 600;
  font-style: normal;
}

.mainContainer {
}

.formBody {
}

.buttonContainer {
}

.link {
}

.button {
}

.imgContainer {
}
